<template name="krtMenuMenu">
	{{#with menu}}
	<nav class="ui menu {{classes}}">
		{{#each items}}
			{{#if isVisible}}
				{{> Template.dynamic template=type}}
			{{/if}}
		{{/each}}
	</nav>
	{{/with}}
</template>

<template name="krtMenuStaticItem">
	<div class="item {{classes}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
	</div>
</template>

<template name="krtMenuLinkItem">
	<a class="item {{classes}}" href="{{pathFor link}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
	</a>
</template>

<template name="krtMenuDropdownItem">
	<div class="ui simple dropdown item {{classes}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
		<i class="dropdown icon"></i>
		{{> krtMenuMenu name=menu.name}}
	</div>
</template>

<template name="krtMenuIcon">
	<i class="{{icon}}"></i>
</template>
