<template name="krtMenuMenu">
	{{#with menu}}
	<nav class="ui menu {{classes}}">
		{{#each items}}
			{{#if isVisible}}
				{{> Template.dynamic template=type}}
			{{/if}}
		{{/each}}
		{{#if rightItems}}<nav class="right menu">
			{{#each rightItems}}
				{{#if isVisible}}
					{{> Template.dynamic template=type}}
				{{/if}}
			{{/each}}
		</nav>{{/if}}
	</nav>
	{{/with}}
</template>

<template name="krtMenuStaticItem">
	<div class="item {{classes}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
	</div>
</template>

<template name="krtMenuLinkItem">
	<a class="item {{classes}} {{#if tooltip}}tooltip{{/if}}" href="{{pathFor link}}" title="{{tooltip}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
	</a>
</template>

<template name="krtMenuDropdownItem">
	<div class="ui simple dropdown item {{classes}}">
		{{#if icon}}{{> krtMenuIcon}}{{/if}} {{text}}
		{{#unless hideArrowIcon}}<i class="dropdown icon"></i>{{/unless}}
		{{> krtMenuMenu name=menu.name}}
	</div>
</template>

<template name="krtMenuIcon">
	<i class="{{icon}}"></i>
</template>
